<h2>Genres</h2>

<div class="add-btn">
<button><a href="/genres/new">Add Genre</a></button>
</div>
<hr>

<div class="table-position">
<table>
  <tr>
    <th>ID</th>
    <th>Genre Type</th>
  </tr>
  <% @genres.each do |genre| %>
  <tr>
    <td><%= genre.id %></td>
    <td><%= genre.genre_type %></td>
    <td><a href="/genres/<%= genre.id %>/edit">Edit Genre</a></td>
    <td><form class="" action="/genres/<%= genre.id %>/delete" method="post"><input class="delete-btn" type="submit" name="delete" value="Delete Genre">
    </form></td>
  </tr>
<% end %>
</table>

</div>
<hr>
