<h2>Authors</h2>

<button><a href="/author/new">Add Author</a></button>
<hr>

<% @authors.each do |author| %>
<p>ID: <%= author.id %></p>
<p>First Name: <%= author.first_name %></p>
<p>Last Name: <%=author.last_name  %></p>




<hr>
<% end %>
