<h2>Add New Author</h2>

<form class="" action="/author" method="POST">

  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field">

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field">

  <input type="submit" name="" value="Save Author">
</form>
