<h2>Genres</h2>

<button><a href="/genres/new">Add Genre</a></button>
<hr>

<% @genres.each do |genre| %>
<p>ID: <%= genre.id %></p>
<p>Genre Type: <%= genre.genre_type %></p>




<a href="/genres/<%= genre.id %>/edit">Edit Genre</a>

<form class="" action="/genres/<%= genre.id %>/delete" method="post"><input type="submit" name="delete" value="Delete Genre">
</form>

<hr>
<% end %>
