<h2>Edit Genre</h2>

<form class="" action="/genres/<%= @genre.id %>" method="POST">

  <label for="genre-type-field">Genre Type:</label>
  <input type="text" name="genre_type" value="<%= @genre.genre_type %>" id="genre-type-field">


  <input type="submit" name="" value="Save Genre">
</form>
