<h2>Add New Genre</h2>

<form class="" action="/genres" method="POST">
  <div>
  <label for="genre-type-field">Genre Type:</label>
  <input type="text" name="genre_type" id="genre-type-field">
  </div>
  <div>
  <label for=""></label>
  <input type="submit" name="" value="Save Genre">
  </div>
</form>
