<h2>Add New Genre</h2>

<form class="" action="/genres" method="POST">

  <label for="genre-type-field">Genre Type:</label>
  <input type="text" name="genre_type" id="genre-type-field">


  <input type="submit" name="" value="Save Genre">
</form>
