<h2>Products</h2>

<button>Add Product</button>
<hr>
<% @products.each do |product| %>
<p>Book ID: <%= product.id %></p>
<p>Book Name: <%= product.name %></p>
<p>ISBN: <%=product.isbn  %></p>
<p>Stock Level: <%= product.current_stock %></p>
<button>View Details</button>
<hr>
<% end %>
