<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Store</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Store Name</h1>
    <nav>
      <ul class="navbar-nav">
        <li><a href="/products">All Stock</a></li>
        <li><a href="/publisher">Publishers</a></li>
        <li><a href="/author">Authors</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/stock_warning">Stock Level Warnings</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
