<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Store</title>
  </head>
  <body>
    <h1>Store Name</h1>
    <nav>
      <ul>
        <li><a href="/products/all">All Stock</a></li>
        <li><a href="">Publishers</a></li>
        <li><a href="">Authors</a></li>
        <li><a href="">Stock Level Warnings</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
