<form class="" action="/publisher" method="post">

  <label for="name-field">Publisher Name</label>
  <input type="text" name="name" value="" id="name-field">

  <label for="street-field">Street</label>
  <input type="text" name="street" id="street_field">

  <label for="city-field">City</label>
  <input type="text" name="city" value="" id="city-field">

  <label for="postcode-field">Postcode</label>
  <input type="text" name="postcode" value="" id="postcode-field">

  <label for="phone-field">Phone</label>
  <input type="text" name="phone" value="" id="phone-field">

  <label for="email-field">Email</label>
  <input type="text" name="email" value="" id="email-field">

  <input type="submit" name="" value="Save Publisher">
</form>
