<h3>New Publisher</h3>


    <form class="" action="/publisher" method="post">
      <p>
      <label for="name-field">Publisher Name</label>
      <input type="text" name="name" value="" id="name-field">
      </p>

      <p>
      <label for="street-field">Street</label>
      <input type="text" name="street" id="street_field">
      </p>

      <p>
      <label for="city-field">City</label>
      <input type="text" name="city" value="" id="city-field">
      </p>

    <p>
      <label for="postcode-field">Postcode</label>
      <input type="text" name="postcode" value="" id="postcode-field">
    </p>

    <p>
      <label for="phone-field">Phone</label>
      <input type="text" name="phone" value="" id="phone-field">
    </p>

    <p>
      <label for="email-field">Email</label>
      <input type="text" name="email" value="" id="email-field">
    </p>

    <div>
        <label></label>
        <input type="submit" name="" value="Save Publisher">
        </div>
    </form>
