<h2>Stock Level Warnings</h2>



<table>
<% @product.each do |product| %>

<tr>
  <th>ID</th>
  <th>Product Name</th>
  <th>Current Stock</th>
</tr>
<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%=product.current_stock%></td>
</tr>
<% end %>

</table>
