<h2>Add New Author</h2>

<form class="" action="/author" method="POST">
<div>
  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field">
</div>

<div>
  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field">
</div>
<div>
  <label for=""></label>
  <input type="submit" name="" value="Save Author">
</div>
</form>
